/* 字体图标 */
@font-face{
    font-family:"fengche";
    src: url("../fonts/iconfont.eot") format("embedded-opentype"),
         url("../fonts/iconfont.svg") format("svg"),
         url("../fonts/iconfont.ttf") format("truetype"),
         url("../fonts/iconfont.woff") format("woff")
}
body {
    position: relative;
    min-width:353px;
}
@media screen and (min-width:100px){
    #header>.nav-content>.navbar-content >a{
    margin-right: 20px;
    margin-left: 20px;
    width: 140px;
    height: 62px;
    background: url("../images/logo_min.png") no-repeat left center;
    }
   
}
@media screen and (min-width:1218px){
    #header>.nav-content>.navbar-content >a{
    margin-right: 20px;
    margin-left: 20px;
    width: 305px;
    height: 62px;
    background: url("../images/logo.png") no-repeat left center;
    }
}
@media screen and (max-width:750px){
    #header  .collapse-list{
        background:#fff;
        opacity:0.8;
    }
 }
 /* 菜单 */
 #header{

    background: white;
 }

#header  a>i.icon-logo::before{
    content:"\e6d3";
    font-size:18px;
    font-style:normal;
    font-family:"fengche";
}
#header li:hover{
    background:#52B6EC;
}
#header li.last-item{
   position: relative;
}
/* #header li.last-item:link{
    background:#E7E7E7;
} */
 /* #header li.last-item:visited{
    background:#E7E7E7;
} */
#header li.last-item:active{
    background:#E7E7E7;
} 
#header li.last-item .last-item-menu{
    position:absolute ;
    top:60px;
    left:-193px;
    width:242px;
    height:218px;
}
#header li.nav-item-link a{
    color: #999;
    padding: 0px 10px;
    line-height: 62px;
}
#header li.nav-item-link a:hover{
    color:#fff;
    background:#52B6EC;
}
#header li.nav-item-link a.active {
    background: #52B6EC;
    color: #fff;
}

#header button.navbar-my-toggler {
    background: red;
}

/* 幻灯片ppt开始 */
 #section-slider{
    background:url("../images/ppt_bg.jpg") no-repeat center center;
    height:auto;
    overflow: hidden;
    color: #fff;
    margin-top: 62px;
}
#section-slider .carousel-content .interpret h3{
    font-size:40px;
    height:134px;
    line-height:178px;
}
#section-slider .carousel-content .pic{
    height: 480px;
    vertical-align: middle;
}
@media screen and (max-width:775px){
    #section-slider .carousel-content .pic{
        display: none;
    }
    #section-slider .carousel-content .interpret h3{
        font-size:24px;
        line-height:34px;
        padding-top:50px;
    }
      
}

@media screen and (max-width:775px){ 
    #section-slider {
        height: 160px;
        background-position: center 0;
    }
}

#section-slider .section-first  .demo-list>div.carousel-inner{
    height:658px;
    line-height:658px;
    text-align:center;
    vertical-align: middle;
}

/* 服务与支持 */
#service >.section-second .service-content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#service >.section-second>h1,
#product .section-third>h1,
#customer .section-fourth>h1
{
    font-size:30px;
    padding: 5px 30px 10px 30px;
    display:block;
    color:#3FB3FD;
}
#service >.section-second>span,
#product .section-third>span,
#customer .section-fourth>span
{
    width: 80px;
    height: 40px;
    border-top: solid 2px #00b3fd;
    display: inline-block;
}
#service >.section-second .row>div>i.icon-md{
    line-height:68px;
    text-align: center;
    display: inline-block;
    width:140px;
    height: 140px;
    margin-bottom:10px;
}
#service >.section-second .row>div>i.icon-backing{
    background:url("../images/serve1.png") no-repeat 0px center;
}
#service >.section-second .row>div>i.icon-backing1{
    background:url("../images/serve2.png") no-repeat 0px center;
}
#service >.section-second .row>div>i.icon-backing2{
    background:url("../images/serve3.png") no-repeat 0px center;
}
#service >.section-second .row>div>i.icon-backing3{
    background:url("../images/serve4.png") no-repeat 0px center;
}
#service >.section-second .row>div>i.icon-backing4{
    background:url("../images/serve5.png") no-repeat 0px center;
}
#service >.section-second .row>div>h3{
    font-size:22px;
    margin:10px 0 10px 0;
}
#service >.section-second .row>div>p{
    font-size:14px;
    line-height:20px;
}
/* 产品展示 */
#product{
    background:#F1F5F8;
}
#product .product-bg{
    background:#fff;
}
#product .section-third>.container>.row div{
    margin-bottom:20px;
}
#product .section-third .product-photo {
    position: relative;
    cursor: pointer;
}
#product .section-third .product-photo  span{
    display:inline-block;
    position: absolute;
    top:0;
    left:5px;
    width:300px;
    height:200px;
    background:#fff;
    opacity:0.3;
    display: none;
    z-index: 30;
}
#product .section-third .product-photo:hover span{
    display: block;
}
#product .section-third h4{
    margin: 0;
    padding-left:10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 16px;
    color: #374552;
    text-align: left;
    overflow: hidden;
}
#product .section-third i{
    padding-left:10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    color: #a0a9b2;
    font-style: italic;
    display: block;
    text-align: left;
    overflow: hidden;
}
/* 我们的客户 */
#customer .section-fourth>div.container>div.row .customer-photo{
    position: relative;
}
#customer .section-fourth>div.container>div.row .customer-photo span{
    position: absolute;
    top:0;
    left: 0;
    display:none;
    width:285px;
    height:62px;
    background: #ffffff;
    opacity:0.5;
    z-index: 60;

}
#customer .section-fourth>div.container>div.row .customer-photo:hover span{
    display:block;
}
/* 关于我们 */
#about .section-fifth{
    background:url("../images/about_bg.jpg") no-repeat center;
    height:640px;
}
#about .section-fifth>h1{
    font-size:30px;
    padding: 5px 30px 10px 30px;
    display:block;
    color:#fff;
}
#about .section-fifth>span{
    width: 80px;
    height: 40px;
    border-top: solid 2px #77D2F7;
    display: inline-block;
}
#about .section-fifth>div.about-content{
    color:#fff;
    font-size:16px;
    line-height:200%;
}
/* 联系我们 */
#contactus{
    display: block;
    background:#626160  url("../images/content_bg.png") repeat-x 50% 50%;
    width:100%;
    height:auto;
}
#contactus  .container .contactus-list{
    padding:50px 30px 30px;
}
#contactus  .container .row  .contactus-content{
    display: flex;
    flex-direction: column;
    align-items:center;
    width:340px;
    height: 102px;
    text-align: center;
}
#contactus  .container .row  .contactus-content i{
    display: inline-block;
    width:80px;
    height:70px;
}
#contactus  .container .row  .contactus-content i.icon-tel1{
    background:url("../images/content_tel.png");
}
#contactus  .container .row  .contactus-content i.icon-tel2{
    background:url("../images/content_ad.png");
}
#contactus  .container .row  .contactus-content i.icon-tel3{
    background:url("../images/content_em.png");
}
#contactus  .container .row  .contactus-content span{
    display:inline-block;
    color:#fff;
    margin:10px 0;
}
/* 底部 */
#footer {
    height:92px;
}
#footer span{
    display:inline-block;
    line-height:92px;

}
/* noline customer */
#online::before{
    content:"";
    position:fixed;
    top:100px;
    right:0;
    background:url("../images/sidebar_bg.png") no-repeat -119px 0;
    width:25px;
    height:112px;
    
}




